<div id="<%= dom_id trayecto %>">
  <p>
    <strong>Descripcion:</strong>
    <%= trayecto.descripcion %>
  </p>

  <p>
    <strong>Tipo carga:</strong>
    <%= trayecto.tipo_carga_id %>
  </p>

  <p>
    <strong>Destino:</strong>
    <%= trayecto.destino %>
  </p>

  <p>
    <strong>Fecha salida:</strong>
    <%= trayecto.fecha_salida %>
  </p>

  <p>
    <strong>Fecha llegada:</strong>
    <%= trayecto.fecha_llegada %>
  </p>

  <p>
    <strong>Vehículo:</strong>
    <%= trayecto.vehículo_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= trayecto.user_id %>
  </p>

</div>
